<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alcohol Calculator</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-900 text-gray-200 font-mono">
    <div id="app" class="container mx-auto px-4 py-8 max-w-2xl">
        <h1 class="text-4xl font-bold mb-8 text-center">Alcohol Calculator</h1>

        <div class="bg-gray-800 border border-gray-700 rounded-lg shadow-md p-6 mb-8">
            <h2 class="text-2xl font-semibold mb-4">Calculate Your Norm</h2>

            <div class="mb-4">
                <label class="block text-gray-300 mb-2">Select Alcohol Type:</label>
                <select v-model="selectedType" class="w-full p-2 rounded bg-gray-700 border-gray-600 text-gray-200">
                    <option v-for="type in alcoholTypes" :value="type">
                        {{ type.name }} ({{ type.percentage }}%)
                    </option>
                </select>
            </div>

            <div class="mb-4" v-if="selectedType">
                <label class="block text-gray-300 mb-2">Quantity (ml):</label>
                <input type="number" v-model="quantity"
                    class="w-full p-2 rounded bg-gray-700 border-gray-600 text-gray-200">
            </div>

            <div v-if="selectedType" class="mb-4 p-4 bg-gray-700 rounded">
                <p class="text-gray-200">{{ selectedType.info }}</p>
            </div>

            <div v-if="selectedType && quantity" class="mb-4 p-4 bg-green-900 rounded">
                <p class="text-green-200">
                    Pure alcohol content: {{ calculatePureAlcohol }} ml
                </p>
            </div>
        </div>

        <div v-if="selectedType && quantity" class="bg-gray-800 border border-gray-700 rounded-lg shadow-md p-6">
            <h2 class="text-2xl font-semibold mb-4">Equivalent Amounts</h2>
            <p class="mb-4 text-gray-300">How much should I drink to get the same amount of alcohol?</p>

            <div v-for="type in alcoholTypes" :key="type.name" class="mb-2">
                <template v-if="type !== selectedType">
                    <div
                        class="flex justify-between items-center p-2 bg-gray-700 rounded hover:border-green-400 transition">
                        <span>{{ type.name }} ({{ type.percentage }}%):</span>
                        <span class="font-semibold text-green-400">
                            {{ calculateEquivalent(type) }} ml
                        </span>
                    </div>
                </template>
            </div>
        </div>
    </div>

    <script>
        const { createApp } = Vue

        createApp({
            data() {
                return {
                    selectedType: null,
                    quantity: null,
                    alcoholTypes: [
                        {
                            name: 'Beer (Light)',
                            percentage: 4,
                            info: 'Typical can/bottle is 330ml or 500ml. Light beer is common in many Asian countries.'
                        },
                        {
                            name: 'Beer (Standard)',
                            percentage: 5,
                            info: 'Typical can/bottle is 330ml or 500ml. Most common beer strength worldwide.'
                        },
                        {
                            name: 'Strong Beer',
                            percentage: 8,
                            info: 'Common in craft beers and special brews. Usually served in smaller portions.'
                        },
                        {
                            name: 'Wine',
                            percentage: 12,
                            info: 'Standard wine glass is 150ml. Bottle contains 750ml.'
                        },
                        {
                            name: 'Soju',
                            percentage: 12,
                            info: 'Typical soju bottle is 330ml. Popular Korean alcoholic beverage.'
                        },
                        {
                            name: 'Sake',
                            percentage: 15,
                            info: 'Traditional serving is 180ml (1 go). Bottle typically contains 720ml.'
                        },
                        {
                            name: 'Sherry',
                            percentage: 17.5,
                            info: 'Fortified wine from Spain. Usually served in 60-75ml portions.'
                        },
                        {
                            name: 'Port Wine',
                            percentage: 20,
                            info: 'Typically served in 60ml portions. Bottle contains 750ml.'
                        },
                        {
                            name: 'Vermouth',
                            percentage: 24,
                            info: 'Often used in cocktails. Standard serving is 50ml.'
                        },
                        {
                            name: 'Kahlúa',
                            percentage: 28,
                            info: 'Coffee liqueur commonly used in cocktails. Standard serving is 30ml.'
                        },
                        {
                            name: 'Jägermeister',
                            percentage: 35,
                            info: 'Usually served as 20ml shots or in cocktails. Bottle contains 700ml or 1L.'
                        },
                        {
                            name: 'Fireball',
                            percentage: 37,
                            info: 'Cinnamon whisky liqueur. Standard shot is 40ml.'
                        },
                        {
                            name: 'Soplica',
                            percentage: 39,
                            info: 'Traditional Polish vodka. Standard shot is 40ml. Bottle contains 500ml or 700ml.'
                        },
                        {
                            name: 'Vodka',
                            percentage: 40,
                            info: 'Standard shot is 40ml. Bottle typically contains 700ml or 1L.'
                        },
                        {
                            name: 'Whiskey',
                            percentage: 40,
                            info: 'Standard serving is 30ml or 60ml. Bottle contains 700ml or 750ml.'
                        },
                        {
                            name: 'Gin',
                            percentage: 40,
                            info: 'Usually served in cocktails. Standard shot is 30ml. Bottle contains 700ml.'
                        }
                    ]
                }
            },
            created() {
                this.selectedType = this.alcoholTypes.find(type => type.name === 'Soju')
                this.quantity = 660
            },
            computed: {
                calculatePureAlcohol() {
                    if (!this.selectedType || !this.quantity) return 0
                    return ((this.quantity * this.selectedType.percentage) / 100).toFixed(1)
                }
            },
            methods: {
                calculateEquivalent(type) {
                    if (!this.selectedType || !this.quantity) return 0
                    const pureAlcohol = this.calculatePureAlcohol
                    return ((pureAlcohol * 100) / type.percentage).toFixed(1)
                }
            }
        }).mount('#app')
    </script>
</body>

</html>